@model IEnumerable<POC_Presentation_MVC.Models.ProductModel>

@{
    ViewBag.Title = "Products Page";
}

@section scripts
{
    <script src="~/Areas/AngularJS/Scripts/app/app.js"></script>
    <script src="~/Areas/AngularJS/Scripts/app/services/products.js"></script>
    <script src="~/Areas/AngularJS/Scripts/app/controllers/ProductCreateCtrl.js"></script>
    <script src="~/Areas/AngularJS/Scripts/app/controllers/ProductDelCtrl.js"></script>
    <script src="~/Areas/AngularJS/Scripts/app/controllers/ProductFindCtrl.js"></script>
    <script src="~/Areas/AngularJS/Scripts/app/controllers/ProductListCtrl.js"></script>
    <script src="~/Areas/AngularJS/Scripts/app/controllers/ProductUpdateCtrl.js"></script>
}

<div ng-app="pocAngular">
    <div ng-view></div>
</div>