<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProductService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9420/ProductService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductService"
                contract="ProductServiceReference.IProductService" name="BasicHttpBinding_IProductService" />
        </client>
    </system.serviceModel>
</configuration>